@media (max-width: 70em) {

  /* 1120px */
  .menu-nav-btn {
    display: block;
    z-index: 9999;
  }


  nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;
  }

  .righthead li a:hover {
    color: var(--font-medium-emphasis);
  }

  .Pre-section {
    width: 100%;
  }

  .secright {
    display: none;
    opacity: 0;
    overflow: hidden;
  }

  .secleft {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-self: center;
    /* align-self: center; */
    padding: 5rem 5rem;
    justify-content: center;
    background-color: var(--gray-2);
  }

  #btns {
    display: flex;
    justify-content: center;
  }

  

  .righthead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: all 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .righthead li {
    padding: 1rem 0;
  }

  .wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
  }

  .pillar {
    width: 800px;
  }
  
}

@media (max-width: 86.875em) {

  /* 1390px */
  .secleft {
    width: 100%;
    margin: 0rem 0rem;
    padding: 0 1rem;
  }

  .secright {
    width: 60%;
  }

  .secleft h1 {
    font-size: 2.5rem;
  }

  .secleft p {
    font-size: 1rem;
  }
}

@media (max-width: 52.875em) {
  /* 846px */

  .secleft {
    width: 100%;
  }
  .col-right {
    width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }
  .col-left {
    width: 45%;
    display: flex;
    padding: 5rem 0;
    justify-content: center;align-items: center;
  }

  .col-left h1,h2,p {
    text-align: center;
    padding: .5rem;
  }

  .col-left h2{
    font-size: 1.6rem;
  }
  .col-left p{
    font-size: 1.2rem;
  }
  .column1 {
    flex-direction: column-reverse;
  }
  .column2 {
    flex-direction: column;
  }
  .column3 {
    flex-direction: column-reverse;
  }
  .pillar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: none;
    margin: none;
    border-radius: none ;
   /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.089), 0 15px 12px rgba(0, 0, 0, 0.055); */
   box-shadow: none;
    
  }

  .cen-img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
.imgs {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}


@media (max-width:28.4375em){
  /* 455px */

  .lefthead{
    font-size: 14.5px;
  }

  .col-right img{
    width: 360px;
  }
}