:root {
  --brand-yellow: #fdc435;
  --bg-gray: #F9FAFF;
  --bg-line:#25282B;
  --font-high-emphasis:#25282B;
  --font-medium-emphasis:#828282;
  --gray-1: #333;
  --gray-3: #828282;
  --gray-2: #fff4d8;
}
